/**
!/.gitignore

!config
!config/*
!config/**/*
!defaultconfigs
!defaultconfigs/*
!defaultconfigs/**/*
!kubejs
!kubejs/*
!kubejs/**/*
kubejs/exported
kubejs/README.txt

###############################
# Datapacks/resources
# Nightmare to get git to track the laughpack folders
!/openloader/
/openloader/**
!/openloader/data/
/openloader/data/**
!/openloader/resources/
/openloader/resources/**
!/openloader/data/laughpack/**
!/openloader/resources/laughpack/**
!**/data/laughpack/
!**/resources/laughpack/
###############################

*.bak
*.cache
*.zip
config/worldedit/worldedit.properties
