/**
!/.gitignore

!config
!config/*
!config/**/*
config/worldedit
config/tellme
!defaultconfigs
!defaultconfigs/*
!defaultconfigs/**/*
defaultconfigs/journeymap-server.toml
!kubejs
!kubejs/*
!kubejs/**/*
kubejs/exported
kubejs/README.txt
!scripts
!scripts/*
!scripts/**/*
!jsdoc
!jsdoc/*
!jsdoc/**/*
!trees
!trees/*
!trees/**/*

###############################
# Datapacks/resources
# Nightmare to get git to track the laughpack folders
!/openloader/
/openloader/**
!/openloader/data/
/openloader/data/**
!/openloader/resources/
/openloader/resources/**
!/openloader/data/laughpack/**
!/openloader/resources/laughpack/**
!**/data/laughpack/
!**/resources/laughpack/
!/openloader/data/cc_scripts/**
!**/data/cc_scripts/
!/openloader/resources/dtautumnity/**
!**/resources/dtautumnity/
###############################

*.bak
*.cache
*.zip
config/worldedit/worldedit.properties
config/jei/bookmarks.ini
config/defaultoptions/servers.dat
config/itlt/servers.json
config/itlt/icon.ico
config/itlt/icon.png
